@import "tailwindcss";
@import "./theme.css";
@import "./fonts.css";
@import "@fontsource/iosevka";

@custom-variant dark (&:is(.dark *));

@custom-variant hf (&:hover, &:focus);
@custom-variant hv (&:hover, &:focus-visible);

@theme {
  --font-sans: "Noto Sans";
  --font-serif: "Noto Serif";
  --font-mono: "Iosevka";
}

@layer base {
  html {
    @apply scroll-smooth font-sans;
  }

  .prose {
    & h1 {
      @apply scroll-m-20 text-4xl font-extrabold tracking-tight text-balance;
    }

    & h2 {
      @apply mt-10 scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0;
    }

    & h3 {
      @apply mt-8 scroll-m-20 text-2xl font-semibold tracking-tight;
    }

    & h4 {
      @apply mt-6 scroll-m-20 text-xl font-semibold tracking-tight;
    }

    & p {
      @apply mb-4 leading-7 not-first:mt-4;
    }

    & blockquote {
      @apply mt-4 border-l-2 pl-6 italic;
    }

    & .table-container {
      @apply my-4 overflow-x-auto;
    }

    & table {
      @apply w-full;
    }

    & thead tr,
    & tbody tr {
      @apply m-0 border-t p-0;
    }

    & th {
      @apply border px-4 py-2 text-left font-bold [[align=center]]:text-center [[align=right]]:text-right;
    }

    & td {
      @apply border px-4 py-2 text-left [[align=center]]:text-center [[align=right]]:text-right;
    }

    & ul {
      @apply my-4 ml-4 list-outside list-disc [&>li]:mt-2;
    }

    & ol {
      @apply my-4 ml-8 list-outside list-decimal [&>li]:mt-2;
    }

    & code:not(pre > code) {
      @apply bg-muted relative rounded px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
    }

    & pre {
      @apply bg-muted relative rounded px-2 py-2 font-mono text-sm;
    }

    & a {
      @apply text-primary hf:decoration-current font-medium underline decoration-transparent underline-offset-4 transition;
    }

    & .lead {
      @apply text-muted-foreground text-xl;
    }

    & .large {
      @apply text-lg font-semibold;
    }

    & small {
      @apply text-sm leading-none font-medium;
    }

    & .muted {
      @apply text-muted-foreground text-sm;
    }

    & svg.typst-doc {
      overflow: visible;
    }

    & svg.typst-doc.typst-math-inline {
      display: inline;
    }

    & svg.typst-doc.typst-math-display,
    & svg.typst-doc.typst-display {
      @apply my-4;
      display: block;
    }

    & svg.typst-doc.typst-math-display {
      @apply mx-auto;
    }
  }
}

@layer components {
  html {
    counter-reset: gloss;
  }

  .smallcaps {
    font-variant-caps: small-caps;
  }
}
