---
import "remark-interlinear-gloss/styles.css";

import Layout from "./Layout.astro";
import type { MarkdownLayoutProps } from "astro";

type Props = MarkdownLayoutProps<{}>;

const { headings } = Astro.props;
---

<Layout>
  <div class="mx-auto grid">
    <nav
      class="sticky top-0 h-screen overflow-y-auto border-r px-8 py-20 max-lg:hidden"
    >
      <h2 class="text-2xl font-semibold tracking-tight">Table of Contents</h2>
      <ol class="mt-4">
        {
          headings
            .filter((heading) => heading.depth !== 1 && heading.depth < 5)
            .map((heading) => (
              <li style={`--depth: ${heading.depth - 1}`}>
                <a
                  href={`#${heading.slug}`}
                  class="hv:text-primary hv:font-medium transition-all"
                >
                  {heading.text}
                </a>
              </li>
            ))
        }
      </ol>
    </nav>

    <main class="prose col-start-2 min-w-0 px-12 py-16 lg:col-start-3">
      <slot />
    </main>
  </div>
</Layout>

<style>
  .grid {
    --main-width: var(--container-3xl);
    grid-template-columns:
      1fr minmax(0, var(--main-width))
      1fr;
  }
  @media (width >= 64rem) {
    .grid {
      --sidebar-width: var(--container-2xs);
      grid-template-columns:
        var(--sidebar-width)
        1fr minmax(0, var(--main-width))
        1fr;
    }
  }

  li {
    margin-left: calc((var(--depth) - 1) * var(--spacing) * 4);
  }
</style>
